          <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
              <div class="section collection">
                <a href="{% url 'backend:index' %}"  class="collection-item">Accueil</a>
                <a href="{% url 'backend:market' %}"  class="collection-item">Boutique</a>
                <a href="{% url 'backend:editor' %}"  class="collection-item">Editeur</a>
                <a href="{% url 'backend:inventory' %}"  class="collection-item">Inventaire</a>
                <a href="{% url 'backend:help' %}"  class="collection-item">Aide</a>
              </div>
            </div>
          </div>