{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %} {% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    {% block custom_css %} {% endblock %}

</head>

<body>
    {% block header %}
        {% include 'backend/header.html' with moneyIn=request.user.userprofile.money user=request.user.username%}
    {% endblock %}
    <main class="container">
        <div class="section">
            <div class="row">
                {% block sidenav %}
                    {% include 'backend/sideNav.html' with page=pageIn %}
                {% endblock %}
            <div class="col s12 m9 l10 pad">
                <div class="row z-depth-1 section padding-section">
                    {% block content %} {% endblock %}
                </div>
            </div>
            </div>
        </div>
    </main>

    <footer class="page-footer grey">
        <div class="footer-copyright">
            <div class="container">
              <div class="row">
                <a class="grey-text text-lighten-4 left-align col s4 m4 l4 " href="#!">Condition d'utilisation</a>
                <i class="small material-icons col center-align s4 m4 l4">insert_chart</i>
                <a class="grey-text text-lighten-4 right-align col s4 m4 l4" href="#!">Mention Légale</a>
              </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    {% block custom_js %} {% endblock %}

</body>
</html>
