{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    PyRobot - Accueil
{% endblock %}

{% block custom_css %}
    <style>
        i.small {
            font-size: 2.75rem;
        }

        body {
            background-color: #455a64;
        }

        .card .card-image img {

        }
    </style>

{% endblock %}



{% block content %}
    <div class="col s12 m12 l12">
        <br/>
        <br/>
    </div>

    <div class="col s12 m12 l4">
        <div class="card sticky-action">
            <div class="card-image indigo darken-4 waves-effect waves-block waves-light">
                <a class="waves-effect waves-light modal-trigger" href="#versus">
                    <img id="mode_versus" class="activator" src="{% static 'img/icons/training_info.png' %}">
                </a>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card sticky-action tooltipped" data-position="bottom" data-delay="50"
             data-tooltip="Code actif: {{ active_script.name }}" >
            <div class="card-image indigo darken-4 waves-effect waves-block waves-light">
                <img id="mode_edit" class="activator" src="{% static 'img/icons/code_info.png' %}">
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    <i class="material-icons right">close</i>Vos codes</span>

                <div class="collection">
                    {% for script in scripts %}
                        <p>
                            <a onclick="window.location.href='/editor/?script={{ script.pk }}'" class="collection-item black-text" style="cursor:pointer">
                                {{ script.name|truncatechars:22 }}
                                {% if script.name ==  active_script.name %}
                                    <span class="new badge indigo yellow-text darken-4" data-badge-caption="Actif"></span>
                                {% endif %}
                            </a>
                        </p>
                    {% endfor %}
                </div>


                <div class="fixed-action-btn hide-on-med-and-down">
                    <a class="waves-effect waves-teal btn-flat" onclick="window.location.href='/editor/'">Éditeur</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card sticky-action">
            <div class="card-image indigo darken-4 waves-effect waves-block waves-light">
                <a class="waves-effect waves-light modal-trigger" href="#championnat">
                    <img id="mode_championship" class="activator" src="{% static 'img/icons/championnat_info.png' %}">
                </a>
            </div>
        </div>
    </div>

    <div id="versus" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Mode versus</h4>
            <p>Liste des scripts disponible pour un entrainement</p>
            <h4>Joueurs du championnat</h4>
            <nav class="indigo darken-4">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="modeVersus" type="search" onkeyup="searchPlayerVersus()" required>
                            <label class="label-icon" for="modeVersus"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
            <div style="max-height: 350px; overflow: auto;">
                <ul id="resultPlayerVersus" class="collapsible" data-collapsible="accordion">
                    {% if classement|length == 1 %}
                        <li>
                            <div class="collapsible-header">
                                Vous êtes seul(e) dans ce championnat
                            </div>
                        </li>
                    {% else %}
                        {% for player in classement %}
                            {% if player.user != user %}
                                <li>
                                    <div class="collapsible-header"
                                         onclick="location.href='/versus/{{ player.pk }}'">
                                        <i class="material-icons">face</i>{{ player.user }} avec {{ player.exp }} points
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <h4>Code Ordinateur</h4>

            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header" onclick="location.href='/versus/1/1#ORDI_FACILE'"><i class="material-icons">laptop</i>CPU 1 - Facile <span
                            class=" badge " data-badge-caption="Bientôt disponible"></span></div>
                </li>
                <li>
                    <div class="collapsible-header" onclick="location.href='/versus/2/2#ORDI_INTERMEDIAIRE'"><i class="material-icons">laptop</i>CPU 2 - Intermédiaire <span
                            class=" badge " data-badge-caption="Bientôt disponible"></span></div>
                </li>
                <li>
                    <div class="collapsible-header" onclick="location.href='/versus/3/3#ORDI_DIFFICILE'"><i class="material-icons">laptop</i>CPU 3 - Difficile <span
                            class=" badge " data-badge-caption="Bientôt disponible"></span></div>
                </li>
            </ul>

            <h4>Vos codes</h4>
            <ul>
                {% for script in scripts %}
                    <li>
                        <div class="collapsible-header"
                             onclick="location.href='/versus/{{ user.pk }}/{{ script.pk }}#{{ script.name }}'">
                            <i class="material-icons">insert_drive_file</i> {{ script.name|truncatechars:22 }}
                        </div>
                        <!--<a class="btn-flat" onclick="window.location.href='/editor/?script={{ script.pk }}'">Modifier</a>-->
                    </li>

                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
            <a onclick="window.location.href='/versus'"
               class="modal-action modal-close waves-effect waves-green btn-flat">Random in championship</a>
        </div>
    </div>

    <div id="championnat" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>{{ championnat|truncatechars:50 }}</h4>
            <p>Liste des joueurs du championnat et leur classement</p>
            <nav class="indigo darken-4">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="PlayerChamp" type="search" onkeyup="searchPlayerChamp()" required>
                            <label class="label-icon" for="PlayerChamp"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
            <div style="max-height: 350px; overflow: auto;">

                <ul id="resultPlayerChamp">
                    {% for player in classement %}

                        {% if player.user == user %}
                            <li>
                                <div class="collapsible-header indigo darken-4 yellow-text">[ {{ forloop.counter }} ]
                                    - {{ player.user }} avec {{ player.exp }} points (pk={{ player.pk }})
                                </div>
                            </li>
                        {% else %}
                            <li>
                                <div class="collapsible-header grey lighten-2"
                                     onclick="window.location.href='/battle/{{ player.pk }}'">[ {{ forloop.counter }} ]
                                    - {{ player.user }} avec {{ player.exp }} points (pk={{ player.pk }})
                                </div>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </div>
            <div>
                <h4>Votre classement</h4>
                <ul>
                    {% for player in classement %}
                        {% if player.user == user %}
                            <li>
                                <div class="collapsible-header indigo darken-4 yellow-text">[ {{ forloop.counter }} ]
                                    - {{ player.user }} avec {{ player.exp }} points (pk={{ player.pk }})
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <a onclick="window.location.href='/battle'"
               class="modal-action modal-close waves-effect waves-green btn-flat">Random in championship</a>
        </div>
    </div>

{% endblock %}


{% block custom_js %}
    <script src="{% static 'js/accueil.js' %}"></script>
    <script>
        console.log("{{ championnat }}");
    </script>
{% endblock %}

