{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    MaturePyRobot - Accueil
{% endblock %}

{% block custom_css %}
<style>
    .progress {
        position: relative;
        height: 10px;
        display: block;
        width: 100%;
        background-color: #d7ccc8;
        border-radius: 5px;
        margin: 0.5rem 0 1rem 0;
        overflow: hidden;
    }
</style>

{% endblock %}



{% block content %}
    <div class="col s12 m8 l6">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" style="margin-bottom: auto; margin-top: auto" src="{% static 'img/tank.png' %}">
            </div>
            <div class="card-content">
                <h1 class="card-title black-text">Tableau de bord</h1>
                <!--<p>Niveau ({{ user.userprofile.level }})</p>
                <div class="progress">
                    <div id="level" class="determinate tooltipped" data-position="right" data-delay="50" data-tooltip="{% if user %}{{ user.userprofile.level }}{% endif %}" style="width: {% if user %}{{ user.userprofile.level }}{% endif %}%"></div>
                </div>
                <p>Expérience ({{ user.userprofile.exp }} - Next level exp: {{ user.userprofile.next_level_exp }})</p>
                <div class="progress">
                    <div id="experience" class="determinate tooltipped" data-position="right" data-delay="50" data-tooltip="{% if user %}{{ user.userprofile.exp }}{% endif %}%" style="width: {% if user %}{{ user.userprofile.exp }}{% endif %}%"></div>
                </div>-->
                <div>
                    <p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i> Niveau actuel: {{ user.userprofile.level }}
                    </p>
                </div>
                <div>
                    <p>
                        <i class="fa fa-signal" aria-hidden="true"></i> Expérience actuelle: {{ user.userprofile.exp }} <br>
                        <i class="fa fa-line-chart" aria-hidden="true"></i> Prochain niveau à {{ user.userprofile.next_level_exp }} d'expérience
                    </p>
                </div>


            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <a class="waves-effect waves-red btn-large"
                           href="{% url 'backend:fight'%}">Combattre</a>
                    </div>
                    <div class="col s12 m6 l6">
                        <h6>Mode Passif</h6>
                        <form method="post" id="agression" action="{% url 'backend:agression' %}">
                            {% csrf_token %}
                            <div class="switch" type="submit">
                                <label>
                                    Activer
                                    <input id="agressionInput" type="checkbox" typeof="submit" {% if agression %}checked{% endif %}>
                                    <span class="lever"></span>
                                    Désactiver
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Tes aptitudes</span>
                <p class="left-align"><img class="responsive-img mini-img"
                                           src="{% static 'img/svg_tank/sword.svg' %}"><span
                        style="margin-left: 8%">Attaque = {{ tank.weapon.attackValue }}</span></p>
                <p class="left-align"><img class="responsive-img mini-img"
                                           src="{% static 'img/svg_tank/shield.svg'%}"><span
                        style="margin-left: 8%">Défense = {{ tank.armor.armorValue}}</span></p>
                <p class="left-align"><img class="responsive-img mini-img"
                                           src="{% static 'img/svg_tank/boot.svg'%}"><span
                        style="margin-left: 8%">Points de Movement = {{ tank.caterpillar.moveValue }}</span>
                </p>
                <p class="left-align"><img class="responsive-img mini-img"
                                           src="{% static 'img/svg_tank/circuit.svg'%}"><span
                        style="margin-left: 8%">Points d'action = {{ tank.navSystem.actionValue  }}</span>
                </p>

                <!--

                FUTURE FEATURES WAITING FOR UPDATE

                <p>Recherche</p>
                <div class="progress">
                    <div class="determinate" style="width: {% if user %}{{ user.userprofile.srch }}{% endif %}%"></div>
                </div>
                <p>Développement</p>
                <div class="progress">
                    <div class="determinate" style="width: {% if user %}{{ user.userprofile.dev }}{% endif %}%"></div>
                </div>

                -->
            </div>
        </div>
    </div>

    <div class="col s12 m12 l12 push-l2 push-s5">
        <div class="row">
            <div class=" col s12 m6 l6">
                <h5>Équipements</h5>
                <img class="responsive-img equipement-icon tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ tank.weapon.name }}"
                     src="/static/img/canon_svg/{{ tank.weapon.pathIcon }}">
                <img class="responsive-img equipement-icon tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ tank.armor.name }}"
                     src="/static/img/shield_svg/{{ tank.armor.pathIcon }}">
                <img class="responsive-img equipement-icon tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ tank.caterpillar.name }}"
                     src="/static/img/caterpillar_svg/{{ tank.caterpillar.pathIcon }}">
                <img class="responsive-img equipement-icon tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ tank.navSystem.name }}"
                     src="/static/img/circuit_svg/{{ tank.navSystem.pathIcon }}">
            </div>
            <div class=" col s12 m6 l6">
                <h5>Script actuel</h5>
                <div class="valign-wrapper">
                    <i class="large material-icons">insert_drive_file</i>
                    <span>{{tank.ia.name}}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block custom_js %}
    <script src="{% static 'js/accueil.js' %}"></script>
{% endblock %}

