{% extends "base.html" %}
{% load static %}

{% block title %}PyRobot - AI Scripts {% endblock %}

{% block custom_css %}
 <!-- Editeur Python CSS -->
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/theme/cobalt.css' %}"/>
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>


    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>

    <script src="{% static 'codemirror/addon/edit/closebrackets.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>

    <!-- CodeMirror Autocomplete-->

    <link rel="stylesheet" href="{% static 'codemirror/addon/hint/simple-hint.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/addon/hint/show-hint.css' %}"/>
    <script src="{% static 'codemirror/addon/hint/simple-hint.js' %}"></script>
    <script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
    <script src="{% static 'codemirror/addon/hint/python-hint.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row z-depth-1 section padding-section">
        <div class="pad row col s12 m12 l12 ">

            <div class="pad col s12 m3 l3 ">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Vos Scripts</h4></li>
                    <li class="collection-item">
                        <div>Code n°1<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div>Code n°2<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div>Code n°3<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="pad col s12 m9 l9 ">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                                class="material-icons">menu</i></a>
                        <ul class="left hide-on-med-and-down">
                            <li class="save"><a href="#">Sauvgarder</a></li>
                            <li><a href="{% url 'backend:fight' %}">Tester</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li class="save"><a class="waves-effect" href="#"><i
                                    class="material-icons left">save</i>Sauvgarder</a></li>
                            <li><a class="waves-effect" href="#"><i class="material-icons left">cached</i>Tester</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <form id="code" action="{% url 'backend:editor' %}" method="post">
                    {% csrf_token %}
                    <textarea name="ia" id="ia" cols="40" rows="10">{{ code }}</textarea>
                    <p><strong>Note :</strong> Appuyez ' <i>Ctrl + Space</i> ' pour utliser l'autocomplétion
                        à tout moment.</p>
                    <p><strong>Attention :</strong> Remplacez ce qu'il y a entre trois quotes par une
                        valeur/variable qui correspond.</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/editor.js' %}"></script>
{% endblock %}