{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>WebPyRobot - Aide</title>

    {% include 'backend/head.html' %}

  </head>
  <body>
    {% include 'backend/header.html' with moneyIn=money user=username%}
    <main class="container">
      <div class="section">
        <div class="row">

            {% include 'backend/sideNav.html' with page=pageIn %}


          <div class="col s12 m9 l10 pad">
            <div class="row z-depth-1 section padding-section" >
              <div class="margTop col s12 m6 l6 center-align">
                <a class="waves-effect waves-light btn-large" href="{% url "backend:documentation" %}">Documentation</a>
              </div>
              <div class="margTop col s12 m6 l6 center-align ">
                <a class="waves-effect waves-light btn-large">Tutoriel</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include 'backend/footer.html' %}
  </body>
</html>
