{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>WebPyRobot - Boutique</title>

    {% include 'backend/head.html' %}

  </head>
  <body>
    {% include 'backend/header.html' with moneyIn=money user=username%}
    <main class="container">
      <div class="section">
        <div class="row">

          {% include 'backend/sideNav.html' with page=pageIn %}

          <div class="col s12 m9 l10 pad">
            <div class="row z-depth-1 section padding-section">
              <div class="pad col s12 m8 l8 ">
              {{ return }}
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s4"><a href="#Canon" class="active">Canons</a></li>
                    <li class="tab col s4"><a href="#Blindage">Blindages</a></li>
                    <li class="tab col s4"><a href="#Chenille">Chenilles</a></li>
                    <li class="tab col s4"><a href="#info">Système</a></li>
                  </ul>
                </div>
                <div id="Canon" class="col s12">
                    {% for weapon in weapons %}
                  <div style="cursor:pointer" class="card-panel hoverable col s4 grey lighten-5 openCard" id="weapon{{ weapon.pk }}">
                    <div class="row">
                      <div class="col s12 center-align"><img src="/static/img/canon_svg/{{ weapon.pathIcon}}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">{{ weapon.name }}</span></div>
                    </div>
                  </div>
                    {% endfor %}

                </div>
                <div id="Blindage" class="col s12">
                    {% for armor in armors%}
                  <div style="cursor:pointer" class="card-panel hoverable col s4 grey lighten-5 openCard" id="armor{{ armor.pk }}">
                    <div class="row">
                      <div class="col s12 center-align"><img src="/static/img/shield_svg/{{ armor.pathIcon }}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">{{ armor.name }}</span></div>
                    </div>
                  </div>
                    {% endfor %}

                </div>
                <div id="Chenille" class="col s12">
                    {% for caterpillar in caterpillars %}
                  <div style="cursor:pointer" class="card-panel hoverable col s4 grey lighten-5 openCard" id="caterpillar{{ caterpillar.pk }}">
                    <div class="row">
                      <div class="col s12 center-align"><img src="/static/img/caterpillar_svg/{{ caterpillar.pathIcon }}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">{{ caterpillar.name }}</span></div>
                    </div>
                  </div>
                    {% endfor %}

                </div>
                <div id="info" class="col s12">

                    {% for navSyst in navSys %}
                  <div style="cursor:pointer" class="card-panel hoverable col s4 grey lighten-5 openCard" id="navSyst{{ navSyst.pk }}">
                    <div class="row">
                      <div class="col s12 center-align"><img src="/static/img/circuit_svg/{{ navSyst.pathIcon }}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">{{ navSyst.name }}</span></div>
                    </div>
                  </div>
                    {% endfor %}

                </div>
              </div>
              <div class="pad col s12 m4 l4 ">

                  {% for weapon in weapons %}
                    <div class="card" id="cardweapon{{ weapon.pk }}">
                      <div class="card-image">
                        <img style="width: 80%; height: 90%; margin-left: auto; margin-right: auto" src="/static/img/canon_svg/{{ weapon.pathIcon }}">
                        <span class="card-title black-text">{{ weapon.name }}</span>
                      </div>
                      <div class="card-content">
                        <h5>Statistiques</h5>
                        <span> Attaque : {{ weapon.attackValue }}</span><br/>
                        <span> Prix : {{ weapon.price }} $</span>
                      </div>
                      <div class="card-action">
                        <form method="post" action="{% url 'backend:buyStuff' %}">
                            {% csrf_token %}
                            <input type="hidden" name="typeItem" value="1">
                            <input type="hidden" name="item" value="{{ weapon.pk }}">
                            <input type="hidden" name="price" value="{{ weapon.price }}">
                            <button type="submit" class="waves-effect waves-light btn ">Acheter</button>
                        </form>
                      </div>
                    </div>
                  {% endfor %}
                  {% for armor in armors %}
                    <div class="card" id="cardarmor{{ armor.pk }}">
                      <div class="card-image">
                        <img cstyle="width: 80%; height: 90%; margin-left: auto; margin-right: auto" src="/static/img/shield_svg/{{ armor.pathIcon }}">
                        <span class="card-title black-text">{{ armor.name }}</span>
                      </div>
                      <div class="card-content">
                        <h5>Statistiques</h5>
                        <span> Defense : {{ armor.armorValue }}</span><br/>
                        <span> Prix : {{ armor.price }} $</span>
                      </div>
                      <div class="card-action">
                        <form method="post" action="{% url 'backend:buyStuff' %}">
                            {% csrf_token %}
                            <input type="hidden" name="typeItem" value="2">
                            <input type="hidden" name="item" value="{{ armor.pk }}">
                            <input type="hidden" name="price" value="{{ armor.price }}">
                            <button type="submit" class="waves-effect waves-light btn">Acheter</button>
                        </form>
                      </div>
                    </div>
                  {% endfor %}
                  {% for caterpillar in caterpillars %}
                    <div class="card" id="cardcaterpillar{{ caterpillar.pk }}">
                      <div class="card-image">
                        <img style="width: 80%; height: auto; margin-left: auto; margin-right: auto" src="/static/img/caterpillar_svg/{{ caterpillar.pathIcon }}">
                        <span class="card-title black-text">{{ caterpillar.name }}</span>
                      </div>
                      <div class="card-content">
                        <h5>Statistiques</h5>
                        <span> Point de déplacement : {{ caterpillar.moveValue }}</span><br/>
                        <span> Prix : {{ caterpillar.price }} $</span>
                      </div>
                      <div class="card-action">
                        <form method="post" action="{% url 'backend:buyStuff' %}">
                            {% csrf_token %}
                            <input type="hidden" name="typeItem" value="3">
                            <input type="hidden" name="item" value="{{ caterpillar.pk }}">
                            <input type="hidden" name="price" value="{{ caterpillar.price }}">
                            <button type="submit" class="waves-effect waves-light btn">Acheter</button>
                        </form>
                      </div>
                    </div>
                  {% endfor %}
                  {% for navSyst in navSys %}
                    <div class="card" id="cardnavSyst{{ navSyst.pk }}">
                      <div class="card-image">
                        <img style="width: 80%; height: auto; margin-left: auto; margin-right: auto" src="/static/img/circuit_svg/{{ navSyst.pathIcon }}">
                        <span class="card-title black-text">{{ navSyst.name }}</span>
                      </div>
                      <div class="card-content">
                        <h5>Statistiques</h5>
                        <span> Point d'action : {{ navSyst.actionValue }}</span><br/>
                        <span> Prix : {{ navSyst.price }} $</span>
                      </div>
                      <div class="card-action">
                        <form method="post" action="{% url 'backend:buyStuff' %}">
                            {% csrf_token %}
                            <input type="hidden" name="typeItem" value="4">
                            <input type="hidden" name="item" value="{{ navSyst.pk }}">
                            <input type="hidden" name="price" value="{{ navSyst.price }}">
                            <button type="submit" class="waves-effect waves-light btn">Acheter</button>
                        </form>
                      </div>
                    </div>
                  {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include 'backend/footer.html' %}
    <script src="{% static 'js/market.js' %}"></script>
  </body>
</html>
