{% extends "base.html" %}

{% load staticfiles %}

{% block title %} PyRobot - Changer le mot de passe {% endblock %}

{% block content %}
    <div class="container">
        <div class="col s12 m12 l12">
            <h4>Changer votre mot de passe</h4>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class=" modal-action waves-effect indigo darken-4 btn" type="submit">Enregistrer</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block custom_js %}
        <script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}
