{% extends "base.html" %}

{% block title %}
MaturePyRobot - Développement
{% endblock %}

{% block content %}
    <div class="col m9 l10 center-align">
        <div class="card-panel yellow lighten-2">
          <span class="indigo-text darken-4">Prochainement, dans cette section vous aurez la possibilité de développer les objets (Canon, Blindage, etc..) que vous possedez.
              En fonction de votre niveau, concevez un tank unique !!
              <i>Pré-requis: Avoir le niveau de recherche suffisant pour développer un objet.</i>
          </span>
        </div>
    </div>
{% endblock %}