{% extends "base.html" %}

{% block title %}
PyRobot - Documentation
{% endblock %}

{% block content %}
<div class="col s12 m9 l10 pad">
    <h2>Documentation</h2>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">getSize()</div>
            <div class="collapsible-body ">
                <p>Permet de connaître la taille de la map.</p>
                <blockquote>
                    Retourne une valeur numérique.
                </blockquote>
            </div>
        </li><li>
            <div class="collapsible-header">getTankId()</div>
            <div class="collapsible-body ">
                <p>Permet de connaître l'identifiant de votre tank.</p>
                <blockquote>
                    Retourne une variable de type TankID.
                </blockquote>
            </div>
        </li>
        <li>
            <div class="collapsible-header">getEnemyTankId()</div>
            <div class="collapsible-body">
                <p>Permet de connaître l'identifiant du tank ennemie.</p>
                <blockquote>
                    Retourne une variable de type TankID.
                </blockquote>
            </div>
        </li>
        <li>
            <div class="collapsible-header">getCellDistance(NumCell1, NumCell2)</div>
            <div class="collapsible-body">
                <p>Permet de connaître la distance entre la cellule NumCell1 et la cellule NumCell2.</p>
                <blockquote>
                    Retourne une valeur numérique. <i>Hint: imaginez la distance entre deux points dans un repère
                    orthonormé.</i>
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">getCellFromXY(X, Y)</div>
            <div class="collapsible-body ">
                <p>Permet de connaître le numéro d'une cellule à partir d'une coordonnée X et Y.</p>
                <blockquote>
                    Retourne une variable de type NumCell.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">getCellPosX(NumCell)</div>
            <div class="collapsible-body">
                <p>Permet de connaître l'ordonnée X d'une cellule NumCell.</p>
                <blockquote>
                    Retourne l'abscisse d'une cellule NumCell.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                getCellPosY(NumCell)
            </div>
            <div class="collapsible-body">
                <p>Permet de connaître l'ordonnée Y d'une cellule NumCell.</p>
                <blockquote>
                    Retourne l'ordonnée d'une cellule NumCell.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                getPosition(TankID)
            </div>
            <div class="collapsible-body ">
                <p>Permet de connaître le numéro de la cellule sur laquelle se trouve le tank qui a pour identifiant
                    TankID.</p>
                <blockquote>
                    Retourne une variable de type NumCell.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                getLife(TankID)
            </div>
            <div class="collapsible-body">
                <p>Permet de connaître la vie restante du tank qui a pour identifiant TankID </p>
                <blockquote>
                    Retourne une valeur numérique.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                getPM(TankID)
            </div>
            <div class="collapsible-body">
                <p>Permet de connaître le nombre de Point de Mouvement actuel (ou restant) du tank d'identifiant
                    TankID.</p>
                <blockquote>
                    Retourne une valeur numérique.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                getPA(TankID)
            </div>
            <div class="collapsible-body ">
                <p>Permet de connaître le nombre de Point d'Action actuel (ou restant) du tank d'identifiant TankID.</p>
                <blockquote>
                    Retounr une valeur numérique.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                getRange(TankId)
            </div>
            <div class="collapsible-body">
                <p>Permet de connaître la portée du tank d'identifiant TankID.</p>
                <blockquote>
                    Retourne une valeur numérique.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">moveTank(NumCell)</div>
            <div class="collapsible-body">
                <p>Fonction permettant de déplacer son tank vers une cellule NumCell.
                    Si celle-ci n'est pas à sa portée (par rapport aux nombres de PM), le tank se déplace vers une
                    cellule proche de celle désié.</p>
                <blockquote>
                    Action réitérable en fonction des paramètres courant.
                </blockquote>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                shoot()
            </div>
            <div class="collapsible-body">
                <p>Fonction permettant de tirer sur le tank ennemi.</p>
                <blockquote>
                    Action réitérable en fonction des paramètres courant.
                </blockquote>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
