{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    PyRobot - Editeur
{% endblock %}

{% block custom_css %}
    <!-- Editeur Python CSS -->
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/theme/dracula.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/theme/cobalt.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/theme/rubyblue.css' %}"/>
    <!-- CodeMirror Autocomplete-->
    <link rel="stylesheet" href="{% static 'codemirror/addon/dialog/dialog.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/addon/search/matchesonscrollbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/addon/hint/show-hint.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/addon/tern/tern.css' %}"/>
    <link rel="stylesheet" href="{% static 'codemirror/addon/fold/foldgutter.css' %}"/>


    <style>
        .btn:hover {
            background-color: #388e3c;
        }

        .collection .collection-item.active .secondary-content {
            color: #1a237e;
        }

        .secondary-content {
            color: #b71c1c;
        }

        blockquote {
            margin: 20px 0;
            padding-left: 1.5rem;
            border-left: 10px solid #fff176;
            border-left-width: 10px;
            border-left-style: solid;
            border-left-color: rgb(255, 241, 118);
        }
    </style>
{% endblock %}

{% block content %}

    <div class="col s12 m4 l3">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active">
                    <h4><i class="material-icons">code</i>Vos codes</h4>
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        {% for script in scripts %}
                            {% if script.pk != active_script.pk %}
                                <li class="collection-item {% if script.pk == selected.pk %} active {% endif %}">
                                    <div style="cursor: pointer"
                                         onclick="location.href='{% url "backend:editor" %}?script={{ script.pk }}'">
                                        <a class="black-text" href="{% url 'backend:editor' %}?script={{ script.pk }}">
                                            {{ script.name|truncatechars:20 }}</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="collection-item {% if script.pk == selected.pk %} active {% endif %}">
                                <div style="cursor: pointer"
                                     onclick="location.href='{% url "backend:editor" %}?script={{ script.pk }}'">
                                    <a class="black-text" href="{% url 'backend:editor' %}?script={{ script.pk }}">
                                        {{ script.name|truncatechars:20 }}</a>
                                    <span class="new badge indigo yellow-text darken-4"
                                          data-badge-caption="Actif"></span>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% if scripts_count < 8 %}
                            <li class="collection-item {{ addnew }}">
                                <a href="{% url 'backend:editor' %}?addnew=yes" class="tooltipped green-text darken-4"
                                   data-position="right" data-delay="50" data-tooltip="Nouveau code"><i
                                        class="material-icons" style="font-size: 3rem">add</i></a>
                            </li>
                        {% endif %}
                    </ul>

                    <form id="load" name="form_input" enctype="multipart/form-data">
                        <div class="file-field input-field">
                            <div class="btn indigo darken-4">
                                <span>Parcourir..</span><i class="material-icons right">search</i>
                                <input id="myfile" type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="name_file" class="file-path validate" type="text"
                                       placeholder="Charger un fichier">
                                <button id="entrer" class="btn waves-effect waves-light indigo darken-4"
                                        type="button">Charger
                                    <i class="material-icons right">file_download</i>
                                </button>

                            </div>
                        </div>
                    </form>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><h5><i class="material-icons">info</i>Informations</h5></div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item">
                            <p>
                                Votre objectif ? Détruire le tank adverse.
                            </p>
                        </li>
                        <li class="collection-item">
                            <p>
                                Vos tanks ont les mêmes capacités ! <br/>
                                L'issue du combat se joue donc sur la <br/>
                                manière dont vous programmez le vôtre.
                            </p>
                        </li>
                        <li class="collection-item">
                            <p>
                                Pour gagner il faut toucher 7 fois.
                            </p>
                        </li>
                        <li class="collection-item">
                            <p>
                                Pour y parvenir vous avez 4 Points d'Actions (PA).
                                Ils vous permettent de vous déplacer. <br/>
                                Mais aussi de tirer sur le tank adverse. <br/>
                                Un mouvement ou un tir coûte 1 PA. <br/><br/>
                                Utilisez les à bon escient !
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="hide-on-med-and-down">
                <div class="collapsible-header"><h5><i class="material-icons">keyboard</i>Astuces</h5></div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item">
                            <p>
                                Afin de faciliter votre expérience. Nous avons intégrés des raccourcis claviers.
                            </p>
                        </li>
                        <li class="collection-item">Annuler la dernière action: <br/>Ctrl-Z / Cmd-Z(?)</li>
                        <li class="collection-item">Autocomplétion: <br/>Ctrl-Space / Opt-F</li>
                        <li class="collection-item">Dupliquer une ligne: <br/>Ctrl-Shift-D / Shift-Cmd-D</li>
                        <li class="collection-item">Multi-curseur: <br/>Ctrl-Clic Gauche/ ...</li>
                        <li class="collection-item">Recherche dans le code: <br/>Ctrl-F / Cmd-F</li>
                        <li class="collection-item">Recherche & Remplace dans le code: <br/>Shift-Ctrl-F / Cmd-Opt-F
                        </li>
                        <li class="collection-item">Recherche & Remplace toute occurrence dans le code: <br/>Shift-Ctrl-R
                            / Shift-Cmd-Opt-F
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!--<blockquote>
            <i class="fa fa-exclamation-triangle fa-lg tooltipped" data-position="left"
               data-delay="50" data-tooltip="Attention" aria-hidden="true"></i> S'il venait à y
            avoir une erreur, veillez à
            bien vérifier le code que vous avez écrit.
        </blockquote>-->
        {% if inBattle %}
            <div class="fixed-action-btn" onclick="$('.tap-target').tapTarget('open')">
                <a id="active_battle" class="waves-effect waves-light btn btn-floating right light-blue accent-4 pulse"><i
                        class="material-icons">menu</i></a>
            </div>

            <div class="tap-target" data-activates="active_battle">
                <div class="tap-target-content right-align">
                    <h5>Information !</h5>
                    <p>
                        Vous avez une battle en cours.<br/>
                        <span class="hide-on-med-and-down">Vous ne pourrez pas démarrer un nouveau combat tant que celui qui est en cours n'est pas
                            terminé.</span>
                    </p>
                    <a class="btn-flat" href="{% url 'backend:versus' previous=1 %}">Revenir au combat</a>
                </div>
            </div>
        {% endif %}

    </div>

    <div class="col s12 m8 l9">

        <form id="code" action="{% url 'backend:editor' %}" method="post">
            {% csrf_token %}

            <div class="col s12 m12 l12 ">
                Nom de ton IA:
                <div class="input-field inline">
                    <input id="code_name" type="text" name="ai_name"
                           value="{% if temporary_name %}{{ temporary_name }}{% else %}{{ selected.name }}{% endif %}"
                           placeholder="Nom de IA"/>

                </div>
                <nav>
                    <div class="nav-wrapper yellow lighten-2">
                        <a href="#" data-activates="editor_menu" class="button-collapse"><i
                                class="material-icons">menu</i></a>
                        <ul class="left hide-on-med-and-down">
                            <li class="save hoverable" value="Sauvegarder">
                                <!--<a id="coucou_save" type="submit" class="indigo-text darken-4">
                                    SAUVEGARDER
                                </a>-->
                                <input id="coucou_save" type="submit" class="btn-flat indigo-text darken-4"
                                       name="action"
                                       value="Sauvegarder">
                            </li>
                            <li class="save hoverable" value="Activer">
                                <!--<a id="coucou_active" type="submit" class="indigo-text darken-4">
                                    ACTIVER
                                </a>-->
                                <input type="submit" class="btn-flat indigo-text darken-4" name="action"
                                       value="Activer">
                            </li>
                            {% if not inBattle %}
                                <li>
                                    <!--<a class="indigo-text darken-4" href="{% url 'backend:versus' previous=1 %}">ENTRAÎNEMENT</a>-->
                                    <a class="modal-trigger indigo-text darken-4" href="#versus">ENTRAÎNEMENT</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            <li class="hoverable">
                                <a class="indigo-text darken-4 modal-trigger" href="#delete_script">SUPPRIMER LE CODE</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <textarea name="ia" id="ia" cols="40" rows="12">{% if temporary_text %}
                    {{ temporary_text }}{% else %}{{ selected.text }}{% endif %}</textarea>
                <label for="ia">Code</label>

                {% if addnew %}
                    <input type="hidden" name="addnew_flag" value="yes"/>
                {% else %}
                    <input type="hidden" name="selected_pk" value="{{ selected.pk }}"/>
                {% endif %}




                <!--p><strong style="font-weight: bold">Active AI:</strong> {{ active_script.name }}</p>-->
            </div>
            <ul class="side-nav" id="editor_menu">
                <li class="save">
                    <input type="submit" class="btn-flat indigo-text darken-4" name="action"
                           value="Sauvegarder">
                </li>
                <li class="save">
                    <input type="submit" class="btn-flat indigo-text darken-4" name="action"
                           value="Activer">
                </li>
                {% if not inBattle %}
                    <li>
                        <a class="waves-effect modal-trigger indigo-text darken-4" href="#versus">ENTRAÎNEMENT</a>
                    </li>
                {% endif %}
                <li>
                    <a class="indigo-text darken-4 modal-trigger" href="#delete_script">SUPPRIMER LE CODE</a>
                </li>
            </ul>
        </form>
    </div>

    <div id="versus" class="modal modal-fixed-footer">
        <form action="{% url 'backend:select_player_for_training' %}" method="POST">
            <div>
                {% csrf_token %}
                <div class="modal-content">
                    <h4>Entraînement - {{ championnat|truncatechars:50 }}</h4>
                    <p>Le code "{{ selected.name }}" servira d'entraînement face à ...</p>
                    <h4>Joueurs du championnat</h4>
                    <nav class="indigo darken-4">
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field">
                                    <input id="modeVersus" type="search" onkeyup="searchPlayerVersus()">
                                    <label class="label-icon" for="modeVersus"><i
                                            class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                    <div style="max-height: 350px; overflow: auto;">
                        <ul id="resultPlayerVersus" class="collapsible" data-collapsible="accordion">
                            {% if classement|length == 1 %}
                                <li>
                                    <div class="collapsible-header">
                                        Vous êtes seul(e) dans ce championnat
                                    </div>
                                </li>
                            {% else %}
                                {% for player in classement %}
                                    {% if player.user != user %}
                                        <li class="player_check">
                                            <!--<div class="collapsible-header" onclick="location.href='/versus/{{ player.pk }}'">
                                                <i class="material-icons">face</i>{{ player.user }} avec {{ player.points }}
                                                points
                                            </div>-->
                                            <div class="collapsible-header">
                                                <i class="material-icons">face</i>{{ player.user }}
                                                avec {{ player.points }}
                                                points.
                                                <span class="badge">
                                                    <input type="checkbox" id="{{ player.pk }}" name="check_training"
                                                           value="/versus/1/{{ player.pk }}"/>
                                                    <!--<input type="hidden" name="player" value="{{ player.pk }}"/>-->
                                                    <label for="{{ player.pk }}"></label>
                                                </span>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <h4>Code Ordinateur</h4>

                    <ul class="collapsible" data-collapsible="accordion">
                        <li class="player_check">
                            <div class="collapsible-header">
                                <i class="material-icons">laptop</i>Ordinateur - Facile
                                <span class="badge">
                                <input type="checkbox" id="ordi1" name="check_training"
                                       value="/versus/1/1/1#ORDI_FACILE"/>
                                <label for="ordi1"></label>
                            </span>
                            </div>
                        </li>
                        <li class="player_check">
                            <div class="collapsible-header">
                                <i class="material-icons">laptop</i>Ordinateur - Intermédiaire
                                <span class="badge">
                                <input type="checkbox" id="ordi2" name="check_training"
                                       value="/versus/1/2/2#ORDI_INTERMEDIAIRE"/>
                                <label for="ordi2"></label>
                            </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">laptop</i>Ordinateur - Difficile
                                <span
                                        class=" badge " data-badge-caption="Bientôt disponible"></span></div>
                            <!--<div class="collapsible-header" onclick="location.href='/versus/3/3#ORDI_DIFFICILE'"><i class="material-icons">laptop</i>CPU 3 - Difficile <span
                                    class=" badge " data-badge-caption="Bientôt disponible"></span></div>-->
                        </li>
                    </ul>

                    <h4>Vos codes</h4>
                    <ul class="collapsible">
                        {% for script in scripts %}

                            {% if script.pk != active_script.pk %}
                                <li class="player_check">
                                    <div class="collapsible-header">
                                        <i class="material-icons">insert_drive_file</i>
                                        {{ script.name|truncatechars:22 }}
                                        <span class="badge">
                                            <input type="checkbox" id="{{ script.pk }}" name="check_training"
                                                   value="/versus/1/{{ user.pk }}/{{ script.pk }}#{{ script.name }}"/>
                                            <label for="{{ script.pk }}"></label>
                                        </span>
                                    </div>
                                    <!--<a class="btn-flat" onclick="window.location.href='/editor/?script={{ script.pk }}'">Modifier</a>-->
                                </li>
                            {% else %}
                                <li class="player_check">
                                    <div class="collapsible-header">
                                        <i class="material-icons">insert_drive_file</i>
                                        {{ script.name|truncatechars:22 }}
                                        <span class="new badge indigo yellow-text darken-4"
                                              data-badge-caption="Actif"></span>
                                    </div>
                                    <!--<a class="btn-flat" onclick="window.location.href='/editor/?script={{ script.pk }}'">Modifier</a>-->
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <a onclick="window.location.href='/versus/1/'"
                       class="modal-action modal-close waves-effect waves-green btn-flat left">Aléatoire</a>
                    <input type="hidden" name="trigger_page" value="editor"/>
                    <input type="hidden" name="selected_pk_training" value="{{ selected.pk }}"/>
                    <button id="player_select" class="btn waves-effect waves-light indigo darken-4" type="submit"
                            name="action" value="training">S'entraîner
                        <i class="material-icons right">play_arrow</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="delete_script" class="modal">
        <form id="delete_script_form" action="{% url 'backend:delete_script' %}" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <h4>Confirmation</h4>
                <p>Vous êtes sur le point de supprimer {{ selected.name }}. Voulez-vous continuer ?</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="delete_code" value="{{ selected.pk }}"/>
                <input type="hidden" name="delete_code_name" value="{{ selected.name }}"/>
                <a onclick="$('#delete_script_form').submit()" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Non</a>
            </div>
        </form>
    </div>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'codemirror/addon/dialog/dialog.js' %}"></script>
    <script src="{% static 'codemirror/addon/search/searchcursor.js' %}"></script>
    <script src="{% static 'codemirror/addon/search/search.js' %}"></script>
    <script src="{% static 'codemirror/addon/scroll/annotatescrollbar.js' %}"></script>
    <script src="{% static 'codemirror/addon/search/matchesonscrollbar.js' %}"></script>
    <script src="{% static 'codemirror/addon/search/jump-to-line.js' %}"></script>
    <script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
    <script src="{% static 'codemirror/addon/tern/tern.js' %}"></script>



    <script src="{% static 'tern/acorn.js' %}"></script>
    <script src="{% static 'tern/acorn_loose.js' %}"></script>
    <script src="{% static 'tern/walk.js' %}"></script>
    <script src="{% static 'tern/polyfill.js' %}"></script>
    <script src="{% static 'tern/signal.js' %}"></script>
    <script src="{% static 'tern/tern.js' %}"></script>
    <script src="{% static 'tern/def.js' %}"></script>
    <script src="{% static 'tern/comment.js' %}"></script>
    <script src="{% static 'tern/infer.js' %}"></script>
    <script src="{% static 'tern/doc_comment.js' %}"></script>

    <!--<script src="https://ternjs.net/node_modules/acorn/dist/acorn.js"></script>
    <script src="https://ternjs.net/node_modules/acorn/dist/acorn_loose.js"></script>
    <script src="https://ternjs.net/node_modules/acorn/dist/walk.js"></script>
    <script src="https://ternjs.net/doc/demo/polyfill.js"></script>
    <script src="https://ternjs.net/lib/signal.js"></script>
    <script src="https://ternjs.net/lib/tern.js"></script>
    <script src="https://ternjs.net/lib/def.js"></script>
    <script src="https://ternjs.net/lib/comment.js"></script>
    <script src="https://ternjs.net/lib/infer.js"></script>
    <script src="https://ternjs.net/plugin/doc_comment.js"></script>-->

    <script src="{% static 'js/editor.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/closebrackets.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'codemirror/addon/hint/python-hint.js' %}"></script>
    <script src="{% static 'codemirror/addon/tern/worker.js' %}"></script>
    <script src="{% static 'codemirror/addon/wrap/hardwrap.js' %}"></script>
    <script src="{% static 'codemirror/addon/fold/brace-fold.js' %}"></script>
    <script src="{% static 'codemirror/addon/fold/foldcode.js' %}"></script>
    <script src="{% static 'codemirror/addon/fold/indent-fold.js' %}"></script>
    <script src="{% static 'codemirror/addon/fold/foldgutter.js' %}"></script>
    <script src="{% static 'codemirror/addon/fold/comment-fold.js' %}"></script>
    <script src="{% static 'codemirror/keymap/sublime.js' %}"></script>
    <script type="text/javascript">
        var code = "{{ temporary_text }}";
        $('.tap-target').tapTarget('open');
        $('input[type="checkbox"]').on('change', function () {
            $('input[type="checkbox"]').not(this).prop('checked', false);
        });

        $('.player_check').click(function () {
            var checkbox = $(this).find('input[type=checkbox]');
            checkbox.prop("checked", !checkbox.prop("checked"));
        });

        //onclick="document.getElementById('code').submit()


    </script>
{% endblock %}
