{% extends "base.html" %}

{% block title %}
MaturePyRobot - FAQ
{% endblock %}

{% block content %}
<div class="col s12 m9 l10 pad">
    <h2>FAQ</h2>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Quelles sont les règles du jeu ?</div>
            <div class="collapsible-body"><span>...</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-power-off" aria-hidden="true"></i> À quoi sert le Mode Passif ?</div>
            <div class="collapsible-body"><span>Le mode passif te permet de ne pas te faire "agresser" par d'autre utilisateur pendant que tu modifies ton tank.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-clone" aria-hidden="true"></i> Comment fonctionne le Drag'n'Drop ?</div>
            <div class="collapsible-body">
                <a href="https://fr.wikipedia.org/wiki/Glisser-d%C3%A9poser" target="_blank"><i class="fa fa-wikipedia-w black-text" aria-hidden="true"></i> Wikipedia</a>
                "Les glisser-déposer est, dans une interface graphique, une méthode consistant à utiliser une souris [..]
                pour déplacer d'un endroit à un autre un élément graphiquep résent sur l'écran [..] d'un ordinateur."
                <ol>
                    <li>Faire un clique sur le script à importer et maintenir la pression sur le bouton.</li>
                    <li>Déplacer votre souris, toujours en maintenant le clic, vers la zone final (l'éditeur python).</li>
                    <li>Une fois sur l'éditeur, lâcher le clic. Et HOP !! Votre script est importé.</li>
                </ol>
                <br>
                Sauvegardez le et continuez à travailler dessus en ligne.
            </div>
        </li>
    </ul>
</div>
{% endblock %}