{% extends "base.html" %}

{% block title %}
MaturePyRobot - FAQ
{% endblock %}

{% block content %}
<div class="col s12 m9 l10 pad">
    <h2>FAQ</h2>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="fa fa-power-off" aria-hidden="true"></i> À quoi sert le Mode Passif ?</div>
            <div class="collapsible-body"><span>Le mode passif te permet de ne pas te faire "agresser" par d'autre utilisateur pendant que tu modifies ton tank.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-clone" aria-hidden="true"></i> Comment fonctionne le Drag'n'Drop ?</div>
            <div class="collapsible-body"><span>...</span></div>
        </li>
    </ul>
</div>
{% endblock %}