{% extends 'base.html' %}

{% load static %}

{% block title %} MaturePyRobot - Combat {% endblock %}

{% block content %}
    {% if battle_err %}
        <div class="col s12 m9 l10 pad">
            <div class="row z-depth-1 section padding-section" id="show_str"></div>
        </div>
    {% else %}
        <div class="col s12 m9 l10 pad">
            <div class="row z-depth-1 section padding-section">
                <div class="card-panel yellow lighten-2">
                    <span id="win" class="indigo-text darken-4">Bataille en cours...</span>
                </div>
                <canvas class="col l8 offset-l2" id="canvas"></canvas>
                <div class="col l4 offset-l5">&nbsp;</div>

                <div class="col l5 offset-l4">
                    {% if not is_replay %}
                        <div class="row">
                            <div class="col l5">
                                <a id="logo-container" style="cursor:pointer" onclick="window.history.go(-1)"
                                   class="waves-effect waves-light btn">Pause&nbsp;<i class="fa fa-pause-circle-o fa-fw" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col l4">
                                <form action="{% url 'backend:finish_battle' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="history_pk" value="{{ history_pk }}"/>
                                    <div id="fincombat">
                                        <input class="waves-effect waves-light btn" type="submit" value="Terminer le combat"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                     {% endif %}
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block custom_js %}
    {% if not battle_err %}
        <script type="text/javascript">
            var a = "{{ result }}".replace(/&#39;/g, "\"");
            var opponent = "{{ opponent }}";
            var playername = "{{ request.user.username }}";
            var player_x = {{ player_x }};
            var player_y = {{ player_y }};
            var opponent_x = {{ opponent_x }};
            var opponent_y = {{ opponent_y }};
            var step_index = {{ step }};
            var map_name = "{{ map_name }}"
            var is_replay = "{{ is_replay }}"
        </script>
        {% include 'backend/headAnimation.html' %}
    {% endif %}
{% endblock %}
