{% load static %}

<!--<footer class="page-footer indigo darken-4">
    <div class="container">
        <div class="row">

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright 2017 design par ©BananiaStyleProd.
        </div>
    </div>
</footer>-->

<footer class="section" style="background-color: #1a237e">
    <div class="container">
        <div class="row">
            <div class="col s12 m3 l3">
                <h4 class="green-text darken-3">Sites utiles</h4>
                <ul>
                    <li><a class="black-text" href="https://openclassrooms.com" target="_blank"><i class="fa fa-pencil"
                                                                                                   aria-hidden="true"></i>
                        Openclassrooms</a></li>
                    <li><a href="https://www.w3schools.com/" class="black-text" target="_blank"><i
                            class="fa fa-graduation-cap" aria-hidden="true"></i>
                        w3schools</a></li>
                    <li><i class="fa fa-github" style="font-size:24px"></i><a href="https://github.com/"
                                                                              class="black-text" target="_blank">
                        Github</a></li>
                </ul>
                <!--<img src="{% static 'img/game.png' %}" alt="" class="circle materialboxed responsive-img"
                     style="width: 50px">  notice the "circle" class -->
            </div>
            <div class="col s12 m3 l3">
                <h4 class="green-text darken-3">News</h4>
                <!--<img src="{% static 'img/game.png' %}" alt="" class="circle materialboxed responsive-img"
                     style="width: 50px">  notice the "circle" class -->
            </div>
            <div class="col s12 m3 l3">
                <h4 class="green-text darken-3">À venir</h4>
                <!--<img src="{% static 'img/game.png' %}" alt="" class="circle materialboxed responsive-img"
                     style="width: 50px">  notice the "circle" class -->

                <div class="chip green darken-2">Système d'expérience</div>
                <div class="chip green darken-2">Niveaux</div>
                <div class="chip green darken-2">Trophés</div>
                <div class="chip green darken-2">Bonus</div>
            </div>
            <div class="col s12 m3 l3">
                <h4 class="green-text darken-3">Autres</h4>
                <ul>
                    <li><a class="black-text" href="https://www.google.fr/" target="_blank"><i class="fa fa-google"
                                                                                               aria-hidden="true"></i>
                        Google</a></li>
                    <li><a href="https://stackoverflow.com/" class="black-text" target="_blank"><i
                            class="fa fa-stack-overflow" aria-hidden="true"></i>
                        Stackoverflow</a></li>
                    <li><a href="https://www.tutorialspoint.com/" class="black-text" target="_blank"> <i
                            class="fa fa-magic" aria-hidden="true"></i>
                        Tutorialspoint</a></li>
                </ul>
                <!--<img src="{% static 'img/game.png' %}" alt="" class="circle materialboxed responsive-img"
                     style="width: 50px">  notice the "circle" class -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright 2017 design par ©BananiaStyleProd.
        </div>
    </div>
</footer>

<!-- PIED DE PAGE -->
<!--<footer class="page-footer indigo darken-4">
  <div class="container">
    <div class="row">

      <div class="col l3 s12">
        <h4 class="green-text darken-3">Liens</h4>
        <ul>
          <li><a class="black-text" href="https://openclassrooms.com" target="_blank">Openclassrooms</a></li>
          <li><a href="http://www.01net.com/" class="black-text" target="_blank">01.net</a></li>
          <li><a href="http://www.nextinpact.com/" class="black-text" target="_blank">NextInpact</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h4 class="green-text darken-3">Autres</h4>
        <ul>
          <li><a class="black-text" href="https://www.google.fr/" target="_blank">Google</a></li>
          <li><a href="http://www.commentcamarche.net/" class="black-text" target="_blank">Comment ça marche ?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright ">
    <div class="container black-text">
      Copyright 2017 design par ©BananiaStyleProduction<a class="black-text" href="contact.html">Contactez moi</a>
    </div>
  </div>
</footer>-->


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>