{% load static %}

<footer class="section" style="background-color: #1a237e">

    {% include 'backend/legalNoticeContact.html' %}
    <div class="footer-copyright">
        <div class="container white-text center-align">
            <a class="white-text modal-trigger left" href="#modal2"><i class="far fa-envelope"></i> Contact</a>
            © 2017 design par <a class="white-text" href="https://github.com/AlexAndriamahaleo" target="_blank">BananiaStyle</a>.
            <a class="white-text modal-trigger right" href="#modal1"><i class="fas fa-gavel"></i> Mentions Legales</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/alertify.js' %}"></script>
<script src="{% static 'js/fontawesome-all.js' %}"></script>

