{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}" />
        <!--[if lt IE 9]><script type="text/javascript" src="{% static 'js/excanvas.compiled.js' %}"></script><![endif]-->
        <script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/oXHR.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/classes/Tileset.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/classes/Map.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/classes/Player.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/classes/Bullet.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/classes/Bird.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mainAnimation.js' %}"></script>