{% load static %}
<header class="navbar-fixed">
    <nav class="indigo darken-4" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" style="cursor:pointer" onclick="window.location.href='/'" class="brand-logo yellow-text "><img
                class="img-logo" src="{% static 'img/svg_tank/tank.svg' %}"> MaturePyRobot</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="yellow-text " href="#">Combat <span class="new badge red pulse" data-badge-caption="nouveaux combats">2</span></a></li>
                <li><a class="yellow-text " href="#">{{ moneyIn }} <i class="fa fa-eur" aria-hidden="true"></i></a></li>
                <li><a class="yellow-text " href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ user }}</a></li>
                <li><a class="yellow-text  tooltipped" data-position="bottom" data-delay="50" data-tooltip="Changer le mot de passe" style="cursor:pointer" onclick="window.location.href='/parameter'"><i class="fa fa-key" aria-hidden="true"></i>
</a></li>
                <li><a class="yellow-text  tooltipped" data-position="bottom" data-delay="50" data-tooltip="Déconnexion" style="cursor:pointer" onclick="window.location.href='/logout'"><i class="fa fa-sign-out" aria-hidden="true"></i>
</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li>
                    <div class="userView">
                        <!--<img class="background" src="{% static 'img/circle_blue.jpg' %}">-->
                        <a href="#!name"><span class="white-text name">{{ user }}</span></a>
                        <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
                    </div>
                </li>
                <li><a class="yellow-text " href="#">Combats <span class="new badge red pulse" data-badge-caption="nouveaux combats">2</span></a></li>
                <li><a class="yellow-text " href="#">{{ moneyIn }} <i class="fa fa-eur" aria-hidden="true"></i></a></li>
                <li><a class="yellow-text " href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ user }}</a></li>
                <li><a class="yellow-text " style="cursor:pointer" onclick="window.location.href='/parameter'"><i class="material-icons">settings</i></a></li>
                <li><a class="yellow-text " style="cursor:pointer" onclick="window.location.href='/logout'"><i class="material-icons">power_settings_new</i></a></li>
                <li>
                    <div class="divider"></div>
                </li>

                {% include 'backend/mobilNav_Link.html' %}

            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>