{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    MaturePyRobot - Historique
{% endblock %}

{% block custom_css %}
    <style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
    </style>
    <script src="{% static 'js/scrollreveal.js' %}"></script>
    <script>
        window.sr = ScrollReveal();
    </script>
{% endblock %}

{% block content %}
    <div id="container1" class="container">

        <div class="col s12 m12 l12">
            <table class="highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Mode</th>
                        <th>Adversaire (code)</th>
                        <th class="hide-on-med-and-down">Votre code</th>
                        <th>Résultat</th>
                        <th>Combat</th>
                        <th>Modifier le code utilisé</th>
                        <th>Championnat</th>
                    </tr>
                </thead>
                <tbody class="reveal">
                {% for history in object_list %}
                    <tr class="historic">
                        <td>{{ history.timestamp|date:'l d F Y' }}, {{ history.timestamp|time:'H:i' }}</td>
                        <td>{% if history.mode %}ENTRAÎNEMENT{% else %}CHAMPIONNAT{% endif %}</td>
                        {% if  history.opponent.username != request.user.username %}
                            <td>{{ history.opponent.username }}</td>
                            <td class="hide-on-med-and-down">{{ history.used_script.name }}</td>
                            <td>{% if history.is_victorious %}Gagné{% else %}Perdu{% endif %}</td>
                            <td><a class="waves-effect waves-light indigo darken-4 yellow-text btn" href="{% url 'backend:replay' %}?bh_pk={{ history.pk }}">Voir</a></td>
                            <td><a class="waves-effect waves-light indigo darken-4 yellow-text btn" onclick="window.location.href='/editor/?script={{ history.used_script.pk }}'">Modifier</a></td>
                            <td>{{ history.championship_name|truncatechars:25 }}</td>
                        {% else %}
                            <td>{{ history.user.username }} ({{ history.used_script.name  }})</td>
                            <td class="hide-on-med-and-down">{{ history.opp_used_script.name}}</td>
                            <td>{% if history.is_victorious %}Perdu{% else %}Gagné{% endif %}</td>
                            <td><a class="waves-effect waves-light indigo darken-4 yellow-text btn" href="{% url 'backend:replay' %}?bh_pk={{ history.pk }}">Voir</a></td>
                            <td><a class="waves-effect waves-light indigo darken-4 yellow-text btn" onclick="window.location.href='/editor/?script={{ history.used_script.pk }}'">Modifier</a></td>
                            <td>{{ history.championship_name|truncatechars:25 }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block custom_js %}
    <script>
        sr.reveal('.historic', {
            reset: true ,
            mobile: true,
            viewFactor: 0.20,
            duration: 2000,
            container: '.reveal',
            rotate: {x: 65}
        });
    </script>
{% endblock %}