{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
MaturePyRobot - Inventaire
{% endblock %}

{% block custom_css %}
    <style>
        span.badge.new {
            font-size: 1rem;
        }

        span.badge {
            float: left;
        }
    </style>
{% endblock %}

{% block content %}
<div class="col s12 m9 l10 pad">
    <div class="card col s12 m6 l6">
        <div class="card-image">
            <img class="responsive-img" src="{% static 'img/tank.png' %}">
        </div>
        <div class="card-content">
            <h5>Caractéristiques</h5>
            <p>Attaque = {{ tank.weapon.attackValue }}</p>
            <p>Défense = {{ tank.armor.armorValue }}</p>
            <p>Points de Vie = {{ tank.hp_value  }}</p>
            <p>PM = {{ tank.caterpillar.moveValue }} </p>
            <p>PA = {{ tank.navSystem.actionValue}} </p>
        </div>

        <div class="card-panel mar col s3 grey lighten-5 ">
            <div class="row">
                <div class="col s12 center-align"><span class="black-text">Canon</span></div>
                <div class="col s12 center-align"><img
                        src="/static/img/canon_svg/{{ tank.weapon.pathIcon }}"
                        class="pad equipement-icon activator responsive-img"></div>
                <div class="col s12 center-align"><span
                        class="black-text">{{ tank.weapon.name }}</span></div>
            </div>
        </div>
        <div class="card-panel mar col s3 grey lighten-5 ">
            <div class="row">
                <div class="col s12 center-align"><span class="black-text">Blindage</span></div>
                <div class="col s12 center-align"><img
                        src="/static/img/shield_svg/{{ tank.armor.pathIcon }}"
                        class="pad equipement-icon activator responsive-img"></div>
                <div class="col s12 center-align"><span
                        class="black-text">{{ tank.armor.name }}</span></div>
            </div>
        </div>
        <div class="card-panel mar col s3 grey lighten-5 ">
            <div class="row">
                <div class="col s12 center-align"><span class="black-text">Chenille</span></div>
                <div class="col s12 center-align"><img
                        src="/static/img/caterpillar_svg/{{ tank.caterpillar.pathIcon }}"
                        class="pad equipement-icon activator responsive-img"></div>
                <div class="col s12 center-align"><span class="black-text">{{ tank.caterpillar.name }}</span>
                </div>
            </div>
        </div>
        <div class="card-panel mar col s3 grey lighten-5 ">
            <div class="row">
                <div class="col s12 center-align"><span class="black-text">Processeur</span></div>
                <div class="col s12 center-align"><img
                        src="/static/img/circuit_svg/{{ tank.navSystem.pathIcon }}"
                        class="pad equipement-icon activator responsive-img"></div>
                <div class="col s12 center-align"><span
                        class="black-text">{{ tank.navSystem.name }}</span></div>
            </div>
        </div>
    </div>
    <div class="row col s12 m6 l6 ">

        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="fa fa-rocket" aria-hidden="true"></i>
                    CANONS
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% for weapon in weaponInv %}

                        <div class="col s6 m6 l6">
                            <div class="card">
                                <div class="card-image center-align">
                                    <img src="/static/img/canon_svg/{{ weapon.pathIcon }}">
                                    <span class="black-text">{{ weapon.name }}</span>
                                </div>
                                <div class="card-content">
                                    <p>
                                        Ataque: {{ weapon.attackValue }} <i class="fa fa-bomb" aria-hidden="true"></i><br>
                                        <span class="new badge red" data-badge-caption="{{ weapon.attackCost }}">PA requis: </span>
                                    </p>
                                </div>
                                <div class="card-action center-align hoverable">
                                    <form method="post" action="{% url 'backend:changeStuff' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="item" value="{{ weapon.pk }}">
                                        <input type="hidden" name="typeItem" value="1">
                                        <button type="submit" class="btn ">
                                            <i class="fa fa-upload" aria-hidden="true"></i><span class="hide-on-med-and-down"> Equiper</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-shield" aria-hidden="true"></i>
                    BLINDAGES
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% for armor in armorInv %}

                        <div class="col s6 m6 l6">
                            <div class="card">
                                <div class="card-image center-align">
                                    <img src="/static/img/shield_svg/{{ armor.pathIcon }}">
                                    <span
                                            class="black-text">{{ armor.name }}</span>
                                </div>
                                <div class="card-content">
                                    <p>
                                        Réduit les dommages causés par votre adversaire.<br>
                                        Défense: {{ armor.armorValue }} <i class="fa fa-shield" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <div class="card-action center-align hoverable">
                                    <form method="post" action="{% url 'backend:changeStuff' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="item" value="{{ armor.pk }}">
                                        <input type="hidden" name="typeItem" value="2">
                                        <button type="submit" class="btn ">
                                            <i class="fa fa-upload" aria-hidden="true"></i><span> Equiper</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-cogs" aria-hidden="true"></i> CHENILLES
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% for cater in caterInv %}

                        <div class="col s6 m6 l6">
                            <div class="card">
                                <div class="card-image center-align">
                                    <img src="/static/img/caterpillar_svg/{{ cater.pathIcon }}" >
                                    <span
                                            class="black-text">{{ cater.name }}</span>
                                </div>
                                <div class="card-content">
                                    <p>
                                        Permet de se déplacer.<br>
                                        PM: {{ cater.moveValue }} <i class="small material-icons">directions_run</i>
                                    </p>
                                </div>
                                <div class="card-action center-align hoverable">
                                    <form method="post" action="{% url 'backend:changeStuff' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="item" value="{{ cater.pk }}">
                                        <input type="hidden" name="typeItem" value="3">
                                        <button type="submit" class="btn ">
                                            <i class="fa fa-upload" aria-hidden="true"></i><span> Equiper</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-microchip" aria-hidden="true"></i>PROCESSEURS
                </div>
                <div class="collapsible-body">

                    <div class="row">
                        {% for navSys in navInv %}
                        <div class="col s6 m6 l6">
                            <div class="card">
                                <div class="card-image center-align">
                                    <img src="/static/img/circuit_svg/{{ navSys.pathIcon }}" >
                                    <span
                                            class="black-text">{{ navSys.name }}</span>
                                </div>
                                <div class="card-content">
                                    <p>
                                        Permet d'effectuer plusieurs action.<br>
                                        Points d'action: {{ navSys.actionValue }} <i class="fa fa-microchip" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <div class="card-action center-align hoverable">
                                    <form method="post" action="{% url 'backend:changeStuff' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="item" value="{{ navSys.pk }}">
                                        <input type="hidden" name="typeItem" value="4">
                                        <button type="submit" class="btn ">
                                            <i class="fa fa-upload" aria-hidden="true"></i><span> Equiper</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}