<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    {% if next %}
        <p>Please login to see the {{ next }}.</p>
    {% endif %}

    <form method="post" action="{% url 'backend:login' %}">
        {% csrf_token %}
        <input type="text" name="username" value="test"/>
        <input type="text" name="password" value="testtest1"/>
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <input type="submit" value="login" />
    </form>
    <a href="{% url 'backend:signUp' %}">Or sign up</a>
</body>
</html>