            <li><a style="cursor:pointer" class="waves-effect" onclick="window.location.href='/'" >Accueil</a></li>
            <li><a style="cursor:pointer" class="waves-effect" onclick="window.location.href='/market'" >Boutique</a></li>
            <li><a style="cursor:pointer" class="waves-effect" onclick="window.location.href='/editor'" >Editeur</a></li>
            <li><a style="cursor:pointer" class="waves-effect" onclick="window.location.href='/inventory'" >Inventaire</a></li>
            <li><a style="cursor:pointer" class="waves-effect" onclick="window.location.href='/help'" >Aide</a></li>