{% extends "base.html" %}

{% block title %}
MaturePyRobot - Recherche
{% endblock %}

{% block content %}
    <div class="col m9 l10 center-align">
        <div class="card-panel yellow lighten-2">
          <span class="indigo-text darken-4">Prochainement, dans cette section vous aurez la possibilité d'effectuer des recherches sur vos objets pour les développer et devenir plus puissant.
              En fonction de votre niveau, concevez un tank unique !!
          </span>
        </div>
    </div>
{% endblock %}