          <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
              <div class="section collection">
                <a style="cursor:pointer" onclick="window.location.href='/'"  class="collection-item {% if page == "accueil"  %}active{% endif %}">Accueil</a>
                <a style="cursor:pointer" onclick="window.location.href='/market'"  class="collection-item {% if page == "market"  %}active{% endif %}">Boutique</a>
                <a style="cursor:pointer" onclick="window.location.href='/editor'"  class="collection-item {% if page == "editor"  %}active{% endif %}">Editeur</a>
                <a style="cursor:pointer" onclick="window.location.href='/inventory'"  class="collection-item {% if page == "inventory"  %}active{% endif %}">Inventaire</a>
                <a style="cursor:pointer" onclick="window.location.href='/help'"  class="collection-item {% if page == "help"  %}active{% endif %}">Aide</a>
              </div>
            </div>
          </div>