{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    PyRobot - Tutoriels
{% endblock %}

{% block content %}
    <div class="col s12 m12 l12">

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">child_care</i>Débuter sur PyRobot
                </div>
                <div class="collapsible-body">
                    <video class="responsive-video materialboxed" autoplay="autoplay" controls="controls" controlsList="nodownload">
                        <source src="{% static 'img/tutoriel/tuto_accueil_pyrobot.mp4' %}" type="video/mp4">
                        Votre navigateur internet ne supporte pas la balise vidéo HTML version 5
                    </video>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">visibility</i>
                    Comment utiliser l'interface de programmation (API) de notre application ?
                </div>
                <div class="collapsible-body">
                    <video class="responsive-video materialboxed" controls="controls" autoplay="autoplay">
                        <source src="{% static 'img/tutoriel/tuto_accueil_pyrobot.mp4' %}" type="video/mp4">
                        Votre navigateur internet ne supporte pas la balise vidéo HTML version 5
                    </video>
                </div>
            </li>
           <!--<li>
                <div class="collapsible-header"><i class="material-icons">priority_high</i>Informations utiles</div>
                <div class="collapsible-body"><span>En cours de construction</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">pause</i>Pause battle ?</div>
                <div class="collapsible-body"><span>Voulez-vous un tuto pour le Bouton "Pause" ?</span></div>
            </li>-->
        </ul>
    </div>
{% endblock %}